[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
numpy = "*"
dash-core-components = "*"
dash-html-components = "*"
datetime = "*"
dash-table = "*"
"plotly.express" = "*"

[dev-packages]

[requires]
python_version = "3.9"
